body {
    font-family: monospace;
    background-color: #1f1f1f;
    color: #e0e0e0;
}

.main_div {
    width: 90vw;
    max-width: 600px;
    margin: 0 auto;
}

.heading {
    text-align: center;
}

.instruction {
    margin: 0px 0 10px;
}

.file_input {
    font-family: inherit;
    margin-bottom: 10px;
}

.file_input::file-selector-button, .version, .export_button {
    height: 30px;
    font-family: inherit;
    background-color: #e0e0e0;
    color: #1f1f1f;
    border: none;
    border-radius: 10px;
    padding: 0px 10px;
}

.table_div {
    display: none;
    max-height: 200px;
    width: fit-content;
    max-width: 100%;
    margin-bottom: 10px;
    overflow: scroll;
}

.table_div:has(tr) {
    display: block;
}

.export_div {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 10px;
}

.export_div > div {
    text-wrap: nowrap;
}

table {
    background-color: #e0e0e0;
    color: #1f1f1f;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #1f1f1f;
}