@keyframes movingBg {
    from {background-position: 0% 0%;}
    to {background-position: 100% 100%;}
}
body {
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(135deg, #000000, #000000, #3e0077, #000000, #000000, #007745, #000000, #000000);
    background-size: 700% 700%;
    animation: movingBg 30s linear infinite;
    height: 100%;
    width: 100%;
    margin: 0;
    font-size: larger;
}
.container {
    padding: 15% 15% 0 15%;
}
.inner {
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    border-radius: 2em;
    padding: 5px 25px;
}
input[type=button], input::file-selector-button, select {
    font-family: monospace;
    padding: 10px;
    border-radius: 50px;
    transition: background-color 1s, color 1s;
    width: fit-content;
}
#table {
    overflow: auto;
    max-width: 900px;;
    max-height: 200px;
}
table, tr, th, td{
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    border-collapse: collapse;
}
